p.info{
	font-size: small;
	background-color: #dfdfdf;
}


p {
	color: navy;
	
}


h1 {
	color: white;
	text-shadow: navy 1px 0 10px;
}

h2 {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(to left, #ffefaf, #ffefaf 1%, white 100%, #ffefaf 75%);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 200px;
	grid-gap: 10px;
	flex-direction: row;
	width: 1024px;
}

div img{
	float: right;
}



div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}
